* {
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

html {
    height: 100%;
}

body { 
    padding: 0px;
    padding-bottom: 1px;
    margin: 0px;
    display: grid;
    min-height: 100%;
    grid-gap: 2px;
}

.portrait {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-template-areas:
        'title title title title title title title title title'
	'resh  resh  resh  prod  prod  prod  sup   sup   sup'
	'rm    rm    rm    rmpm  rmp   rmpp  rmsm  rms   rmsp'
	'rs    rs    rs    rspm  rsp   rspp  rssm  rss   rssp'
	'rt    rt    rt    rtpm  rtp   rtpp  rtsm  rts   rtsp'
	'rp    rp    rp    rppm  rpp   rppp  rpsm  rps   rpsp'
	're    re    re    repm  rep   repp  resm  res   resp'
	'rh    rh    rh    rhpm  rhp   rhpp  rhsm  rhs   rhsp'
	'trh   trh   trh   trh   trh   trh   trm   tr    trp'
	'gh    gh    gh    gh    gh    gh    gh    g     next'
	'pay   pay   pay   pay   pay   pay   pay   pay   pay'
	'pmh   pmh   pmh   pmh   pmh   pmh   pmm   pm    pmp'
	'psh   psh   psh   psm   ps    psp   psx   psv   .'
	'pth   pth   pth   ptm   pt    ptp   ptx   ptv   .'
	'ptoh  ptoh  ptoh  ptoh  ptoh  ptoh  cncl  pto   ok';
}

.landscape {
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        'title title title title title title title title title title title title title title title title title'
	'resh  resh  resh  prod  prod  prod  sup   sup   sup   trh   trh   trh   trh   trh   trm   tr    trp'
	'rm    rm    rm    rmpm  rmp   rmpp  rmsm  rms   rmsp  gh    gh    gh    gh    gh    gh    g     next'
	'rs    rs    rs    rspm  rsp   rspp  rssm  rss   rssp  pay   pay   pay   pay   pay   pay   pay   pay'
	'rt    rt    rt    rtpm  rtp   rtpp  rtsm  rts   rtsp  pmh   pmh   pmh   pmh   pmh   pmm   pm    pmp'
	'rp    rp    rp    rppm  rpp   rppp  rpsm  rps   rpsp  psh   psh   psm   ps    psp   psx   psv   .'
	're    re    re    repm  rep   repp  resm  res   resp  pth   pth   ptm   pt    ptp   ptx   ptv   .'
	'rh    rh    rh    rhpm  rhp   rhpp  rhsm  rhs   rhsp  ptoh  ptoh  ptoh  ptoh  ptoh  cncl  pto   ok';
}

.app_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);
}

.app_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    background-color: #e0e0ff;
    border: 1px solid #000000;
}

.disabled {
    color: rgba(0, 0, 0, 0.1);
}

.pressed {
    border: 3px solid #000000;
}

#app_title {
    grid-area: title;
    color: #ffffff;
    background-color: #0000bf;
    font-weight: old;
}

#app_resh { grid-area: resh; }
#app_prod { grid-area: prod; }
#app_sup { grid-area: sup; }
#app_trh { grid-area: trh; }
#app_trm { grid-area: trm; }
#app_tr { grid-area: tr; }
#app_trp { grid-area: trp; }
#app_rm { grid-area: rm; }
#app_rmpm { grid-area: rmpm; }
#app_rmp { grid-area: rmp; }
#app_rmpp { grid-area: rmpp; }
#app_rmsm { grid-area: rmsm; }
#app_rms { grid-area: rms; }
#app_rmsp { grid-area: rmsp; }
#app_gh { grid-area: gh; }
#app_g { grid-area: g; }
#app_next { grid-area: next; }
#app_rs { grid-area: rs; }
#app_rspm { grid-area: rspm; }
#app_rsp { grid-area: rsp; }
#app_rspp { grid-area: rspp; }
#app_rssm { grid-area: rssm; }
#app_rss { grid-area: rss; }
#app_rssp { grid-area: rssp; }
#app_pay { grid-area: pay; }
#app_rt { grid-area: rt; }
#app_rtpm { grid-area: rtpm; }
#app_rtp { grid-area: rtp; }
#app_rtpp { grid-area: rtpp; }
#app_rtsm { grid-area: rtsm; }
#app_rts { grid-area: rts; }
#app_rtsp { grid-area: rtsp; }
#app_pmh { grid-area: pmh; }
#app_pmm { grid-area: pmm; }
#app_pm { grid-area: pm; }
#app_pmp { grid-area: pmp; }
#app_rp { grid-area: rp; }
#app_rppm { grid-area: rppm; }
#app_rpp { grid-area: rpp; }
#app_rppp { grid-area: rppp; }
#app_rpsm { grid-area: rpsm; }
#app_rps { grid-area: rps; }
#app_rpsp { grid-area: rpsp; }
#app_psh { grid-area: psh; }
#app_psm { grid-area: psm; }
#app_ps { grid-area: ps; }
#app_psp { grid-area: psp; }
#app_psx { grid-area: psx; }
#app_psv { grid-area: psv; }
#app_re { grid-area: re; }
#app_repm { grid-area: repm; }
#app_rep { grid-area: rep; }
#app_repp { grid-area: repp; }
#app_resm { grid-area: resm; }
#app_res { grid-area: res; }
#app_resp { grid-area: resp; }
#app_pth { grid-area: pth; }
#app_ptm { grid-area: ptm; }
#app_pt { grid-area: pt; }
#app_ptp { grid-area: ptp; }
#app_ptx { grid-area: ptx; }
#app_ptv { grid-area: ptv; }
#app_rh { grid-area: rh; }
#app_rhpm { grid-area: rhpm; }
#app_rhp { grid-area: rhp; }
#app_rhpp { grid-area: rhpp; }
#app_rhsm { grid-area: rhsm; }
#app_rhs { grid-area: rhs; }
#app_rhsp { grid-area: rhsp; }
#app_ptoh { grid-area: ptoh; }
#app_cncl { grid-area: cncl; }
#app_pto { grid-area: pto; }
#app_ok { grid-area: ok; }
